
@using Syncfusion.EJ2
@using Newtonsoft.Json

@{
    ViewBag.Title = "Password Confirmation";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<head>
    <link href="~/Syncfussion/styles/material.css" rel="stylesheet" />
    <script src="~/Syncfussion/scripts/ej2.min.js"></script>
</head>

<div class="row" style="background-color:white;box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
    <div class="col-8">
        <div class="p-3 text-start">
            <h2 class="text-dark">Password Confirmation</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="p-4 m-3 rounded-3 shadow-sm bg-white">

        <h2>Password Reset Request Submitted</h2>
        <p>If you have an account with us, we have sent an email with a link to reset your password. Please check your inbox.</p>

        </div>
        </div>