@model ForgotPasswordViewModel
@using Syncfusion.EJ2
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}
<head>
    <link href="~/Syncfussion/styles/material.css" rel="stylesheet" />
    <script src="~/Syncfussion/scripts/ej2.min.js"></script>
</head>

<div class="row" style="background-color:white;box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
    <div class="col-8">
        <div class="p-3 text-start">
            <h2 class="text-dark">Forgot Password</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="p-4 m-3 rounded-3 shadow-sm bg-white">
        <form asp-action="ForgotPassword" method="post">
            <div class="form-group mb-3">
                <label asp-for="UsernameOrEmail" class="form-label"></label>
                <input asp-for="UsernameOrEmail" class="form-control" required />
                <span asp-validation-for="UsernameOrEmail" class="text-danger"></span>
            </div>
            <div class="col-auto">
                <button type="submit" class=" btn-primary btn-sm">Send Reset Link</button>
            </div>

        </form>
    </div>
</div>