

<div class="row">
    <div class="col-sm-2 col-lg-2 col-12">

    </div>
    <div class="col-sm-8 col-lg-8 col-12">
        <div style="padding:8px;margin:8px">
            <input class="form-control border-0" id="myInput" onkeyup="myFunction()" style="background-color:#b2bbc4;color:black;border-radius:30px;font-family:'Century Gothic'" required placeholder="Search" />

        </div>
    </div><div class="col-sm-2 col-lg-2 col-12">

    </div>
</div>
<script>
    function myFunction() {
        var input, filter, ul, li, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("tr");

        for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>
