@model EASY_SACCO.Models.Loanschd
@using Syncfusion.EJ2
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<head>
    <link href="~/Syncfusion/styles/material.css" rel="stylesheet" />
    <script src="~/Syncfusion/scripts/ej2.min.js"></script>
</head>

<div class="row" style="background-color:white;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">
    <div class="col-8">
        <div style="margin:8px;padding:8px;text-align:left">
            <div style="color:gray;font-size:small;" class="text-capitalize">LOANS SCHEDULE</div>
        </div>
    </div>    
</div>

<div class="container-fluid">
    <div style="padding:8px;margin:8px;border-radius:16px;background-color:white;box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)">

        <form id="generateScheduleForm" asp-action="GenerateSchedule" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div style="background-color: #f3f3f3; color:#8b8b8b; margin-bottom: 8px; padding:8px; margin-top:8px;">
                <strong style="color:black">LOAN SCHEDULE</strong>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MemberNo"><strong style="color:black">Member No</strong></label>
                        <input type="text" class="form-control" id="MemberNo" value="@ViewBag.memberno" name="MemberNo" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="InitialAmount"><strong style="color:black">Loan Amount</strong></label>
                        <input type="number" class="form-control" id="InitialAmount" name="InitialAmount" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                    <lebel class="text-black"><strong>Loan Type</strong></lebel>
                    <select name="LoanCode" asp-items="@ViewBag.loantypes" readonly required class="form-control" id="loantypeid" onchange="getInterestRate()">
                        <option>Select Loan Type</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="InterestRate"><strong style="color:black">Interest Rate (%)</strong></label>
                            <input type="number" step="0.01" class="form-control" readonly id="interestrateid" name="InterestRate" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Period"><strong style="color:black">Repayment Period (Months)</strong></label>
                            <input type="number" class="form-control" id="repayperiod" name="Period" required />
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="RepaymentMethod"><strong style="color:black">Repayment Method</strong></label>
                            <select class="form-control" id="repaymethod" name="RepaymentMethod">
                            <option value=""></option>
                            <option value="AMRT">AMRT</option>
                            <option value="STL">STL</option>
                            <option value="RBAL">RBAL</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="StartDate"><strong style="color:black">Start Date</strong></label>
                        <input type="date" class="form-control" id="StartDate" name="StartDate" required />
                    </div>
                </div>
            </div>

            <input type="submit" value="Generate/View Schedule" id="generateScheduleBtn" class="btn btn-primary" style="background-color:#0670ba;width:22%" />
            <div class="d-flex justify-content-end mb-3">
                <div class="col-auto">
                    <button type="button" class="btn btn-primary btn-sm me-2" onClick="printCertificate()">
                        <i class="fa fa-print"></i> Print
                    </button>
                    <button type="button" class="btn btn-primary btn-sm" onclick="exportTableToExcel('statement-table')">
                        <i class="fa fa-file-excel"></i> Export Excel
                    </button>
                </div>
            </div>
        </form>
        <br />
        <div id="statement-table">
        <table class="table table-striped table-bordered table-sm" style="color: black; min-width: 1000px;"
               id="scheduleTable">
            <thead style="background-color:#0f1230;color:white">
                <tr>
                    <th>Period</th>
                    <th>PaymentDate</th>
                    <th>Opening Balance</th>
                    <th>Principal</th>
                    <th>Interest</th>
                    <th>Payment</th>
                    <th>Closing Balance</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getInterestRate() {
        var LoanCode = $("#loantypeid").val();
        var MemberNo = $("#MemberNo").val();

        $.ajax({
            url: "../Loanschd/populateInterestrate",
            type: "POST",
            data: { LoanCode: LoanCode, MemberNo: MemberNo },
            dataType: "json",
            success: function (data) {
                console.log("Response:", data); // Debugging: Log the response

                if (data.error) {
                    alert("Error: " + data.error);
                    return;
                }
                debugger;
                // Update fields with received data
               // $("#loancodeid").val(data.loancode);
                $("#interestrateid").val(data.interestrate);
                $("#repayperiod").val(data.repaypriod);
                $("#repaymethod").val(data.repaymethod);
               // $("#Loannoid").val(data.loancount);
                var totaldeposit = parseFloat($("#Deposit").val()) || 0;
                var loantoshareratio = parseFloat(data.loantoshareratios) || 0;
                var maxloans = totaldeposit * loantoshareratio;
                //$("#maxloan").val(maxloans.toFixed(2));
            },
            error: function (xhr, status, error) {
                console.error("AJAX Error:", error);
                alert("Failed to retrieve interest rate. Please try again.");
            }
        });
    }
    $(document).ready(function () {
        $("#generateScheduleForm").submit(function (event) {
            event.preventDefault(); // Prevent form submission

            $.ajax({
                url: "/Loanschd/GenerateSchedule",
                type: "POST",
                data: $(this).serialize(),
                dataType: "json",
                contentType: "application/x-www-form-urlencoded",
                success: function (data) {
                    $("#scheduleTable tbody").empty();
                    $.each(data, function (index, item) {
                        $("#scheduleTable tbody").append(
                            `<tr>
                                        <td>${item.period}</td>
                                        <td>${item.fmtPer}</td>
                                        <td>${(item.principal + item.balance).toFixed(4)}</td>
                                        <td>${item.principal.toFixed(2)}</td>
                                        <td>${item.interest.toFixed(2)}</td>
                                        <td>${(item.principal + item.interest).toFixed(2)}</td>
                                        <td>${item.balance.toFixed(4)}</td>
                             </tr>`
                        );
                    });
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                    alert("Failed to generate schedule. Check console for details.");
                }
            });
        });
    });
      function exportTableToExcel(tableId) {
            var table = document.getElementById(tableId);
            var html = table.outerHTML;
            var url = 'data:application/vnd.ms-excel,' + encodeURIComponent(html);
            var link = document.createElement("a");
            link.href = url;
            link.download = 'LoanCalculator.xls';
            link.click();
        }

        function printCertificate() {
            const printContents = document.getElementById('statement-table').innerHTML;
            const originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
</script>
